{% extends 'account.html' %}

{% block contenido %}
    <center><h2>Registro de Academic Rank</h2></center>
    <div class="table-responsive">

        <table class="table">
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Actividad</th>
                <th>Nota</th>
                <th>Nivel</th>
                <th>Firma Alumno</th>
                <th>Profesor</th>
            </tr>

            {% for r in academic %}
                <tr>
                    <th> {{ r.fecha }}</th>
                    <th> {{ r.hora }}</th>
                    <th> {{ r.actividad }}</th>
                    <th> {{ r.nota }}</th>
                <th> {{ r.nivel }}</th>
                 <th>
                 {% if r.firma_alumno %}
          Attended
                     {% elif r.firma_alumno %}
                    Not attend
         {% endif %}
                 </th>
                <th>{{ r.profesor.nombre }}  {{ r.profesor.apellido }}</th>
                </tr>
            {% endfor %}
        </table>


    </div>

    </body>
    </html>


{% endblock %}